.topWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.topSubWrapper {
    width: 40%;
}
.title {
    font-weight: 500;
    margin-bottom: 20px;
}

.fruitsTableWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex:1;
    /* justify-content: center; */
}
.fruitsRow {
    flex:1;
    text-align: center;
    border: 1px solid #000000;
    padding: 8px 5px;
}

.backButtonWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.backButton {
    cursor: pointer;
    width: 90px;
    padding: 6px 0px;
    font-weight: 600;
    font-size: 14px;
    background-color: #D5E8D4;
    border: 2px solid #9CC387;
    border-radius: 6px;
    outline: none;
}

@media (max-width:600px) {
    .topSubWrapper {
        width: 90%;
    }
}